/* You can add global styles to this file, and also import other style files */

* {
  user-select: none;
}

.btn {
  color: white;
  border-radius: .4rem;
  min-height: 4rem;
  min-width: 14rem;
  font-size: 16px;
  border: none;
  outline: none;
}

.btn:hover {
  opacity: 0.6;
  cursor: pointer;
}

.green {
  background: #639f08;
}

.blue {
  background: #314e85;
}
