<div class="example-container">
  <mat-form-field floatLabel="auto">
    <input matInput placeholder="UserName" required>
  </mat-form-field>

  <mat-form-field floatLabel="always">
    <mat-label>Both a label and a placeholder</mat-label>
    <input matInput placeholder="Password">
  </mat-form-field>

  <mat-form-field floatLabel="auto">
    <mat-select>
      <mat-option>-- None --</mat-option>
      <mat-option value="option">Option</mat-option>
    </mat-select>
    <mat-label><mat-icon>favorite</mat-icon> <b> Fancy</b> <i> label</i></mat-label>
  </mat-form-field>
</div>
