<!-- <div class="middle">
  <fa-icon [icon]="faCoffee"></fa-icon>
  <fa-icon [icon]="faCoffee" [border]="true"></fa-icon>
  <fa-icon [icon]="faCoffee" pull="left"></fa-icon>
  <fa-icon [icon]="faCoffee" [classes]="['my-icon-class']"></fa-icon>
  <fa-icon
    [icon]="faCoffee"
    [styles]="{ stroke: 'red', color: 'red' }"
  ></fa-icon>
  <fa-icon [icon]="faCoffee" rotate="90"></fa-icon>
</div> -->

<div class="middle">
  <i class="btn">
    <fa-icon
      [icon]="faAngry"
      size="3x"
      [spin]="false"
      [pulse]="false"
    ></fa-icon>
  </i>

  <i class="btn">
    <fa-icon
      [icon]="faHorse"
      size="3x"
      [spin]="false"
      [pulse]="false"
    ></fa-icon
  ></i>
  <i class="btn">
    <fa-icon
      [icon]="faDiceOne"
      size="3x"
      [spin]="false"
      [pulse]="false"
    ></fa-icon
  ></i>
  <i class="btn">
    <fa-icon
      [icon]="faFighterJet"
      size="3x"
      [spin]="false"
      [pulse]="false"
    ></fa-icon
  ></i>
  <i class="btn">
    <fa-icon
      [icon]="faHatWizard"
      size="3x"
      [spin]="false"
      [pulse]="false"
    ></fa-icon
  ></i>
</div>
