<div class="container">
 <div class="row">
  <div class="left">Lorem, ipsum dolor.</div>
  <div class="right">123</div>
 </div>
 <div class="row">
  <div class="left">
   Lorem ipsum dolor sit ametlorem5. Lorem ipsum dolor sit amet.
   <div class="tt">Lorem ipsum dolor sit ametlorem5. Lorem ipsum dolor sit amet.
   </div>
  </div>
  <div class="right">234</div>
 </div>
 <div class="row">
  <div class="left">Lorem, ipsum dolor.</div>
  <div class="right">165</div>
 </div>
 <div class="row">
  <div class="left">Lorem, ipsum dolor.</div>
  <div class="right">444</div>
 </div>
 <div class="row">
  <div class="left">Lorem, ipsum dolor sit amet consectetur adipisicing.</div>
  <div class="right">34567</div>
 </div>
 <div class="row">
  <div class="left">Lorem, ipsum dolor.</div>
  <div class="right">165</div>
 </div>
 <div class="row">
  <div class="left">Lorem, ipsum dolor.</div>
  <div class="right">444</div>
 </div>
 <div class="row">
  <div class="left">Lorem, ipsum dolor sit amet consectetur adipisicing.</div>
  <div class="right">34567</div>
 </div>
</div>