main {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 4px 6px;
}
app-square {
  border: 1px solid grey;
  height: 100px;
  width: 100px;
  &:hover {
    border: 1px solid goldenrod;
    &button{
      background-color: aquamarine;
    }
  }
}
