<p>ui interactions</p>
<button mat-raised-button>Primary</button>
<button mat-raised-button color="primary">Primary</button>
<button mat-raised-button color="accent">Primary</button>
<button mat-fab aria-label="Example icon-button with a heart icon">
    <mat-icon>favorite</mat-icon>
</button>
<mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
<mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>

<button mat-button><mat-icon>mic</mat-icon> Start Recording</button>
<br/>
<button mat-raised-button color="accent"><mat-icon>mic</mat-icon> Start Recording</button>
