mat-icon{
    margin-top:-6px;
    font-size: 3em;
    width: 2ex;
}

.flex-container {
    display: flex;
    
    & > button {
        background-color: #399953;
        margin: 0px 10px 0px 10px;
    }
}