<mat-toolbar color="primary" class="expanded-toolbar">
  <span>
    <button mat-button routerLink="/"><mat-icon>home</mat-icon></button>
    <button mat-button routerLink="/">{{ title }}</button>
  </span>
  <div fxLayout="row" >
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
      <div class="input-group">
        <input
          class="input-group-field"
          type="search"
          value=""
          placeholder="search something..."
          formControlName="search"
        />
        <div class="input-group-button">
          <button mat-flat-button color="accent">
            <mat-icon>search</mat-icon>
          </button>
        </div>
      </div>
    </form>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
