/* You can add global styles to this file, and also import other style files */
body {
  text-align: center;
  background-color: #ffffff;
  user-select: none;
}

.font1 {
  font-family: 'Mansalva', cursive;
}

button{
  border-radius: 4px;
  vertical-align: baseline;
  padding: 0 20px;
  padding-top: 5px;
  padding-bottom: 8px;
  border: 2px solid rgb(55, 55, 109);
  background-color: transparent;
  text-decoration: none;
  &:hover{
    border: 2px solid rgb(55, 55, 109, 0.5);
    color: rgb(73, 73, 73);
  }
  &:focus{
    background-color: rgb(231, 231, 231);
    outline:none;
  }
}

.font2 {
  font-family: 'Playfair Display', serif;
}

main {
  display: inline-flex;
  margin: 30px auto !important;
  
}

.tile {
  margin: 0 1rem;
  background-color: #ffffff;
  transition: opacity 500ms;
  transition: color 500ms;
  border-radius: 5em;
  width: 100px;
  height: 100px;
  &:hover {
    color: whitesmoke !important;
  }
}

.transparent {
  transition: opacity 1s;
  opacity: 0;
}

.visible {
  opacity: 1;
}
