/* You can add global styles to this file, and also import other style files */
.font1 {
  font-family: "Mansalva", cursive;
}

.font2 {
  font-family: "Playfair Display", serif;
}

main {
  display: inline-flex;
}

.tile {
  margin: 0 1rem;
  background-color: #525f5b;
  text-align: center;
  transition: opacity 100ms;
  transition: color 500ms;
  border-radius: 5em;
  width: 108px;
  &:hover {
    color: whitesmoke !important;
    opacity: 0.7;
  }
}

.transparent {
  opacity: 0.1 !important;
}

.visible {
  opacity: 1 !important;
}
