/* You can add global styles to this file, and also import other style files */
body {
  background-color: #b9bbba;
}

content {
  width: 100%;
  height: 100%;
  display: block;
  transform: translate(0%, 150%);

  text-align: center;
  font-family: 'SegoeUI';
  font-size: 2.5rem;
  p {
    // opacity: 0;
    animation: fade-me-in 3s ease-in;
  }
}

main {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 220px;
}

app-container {
  div {
    margin: 5px;
    background-color: #3c3c3c;
    border-radius: 2px;
    width: 100px;
    height: 100px;
    transition: width 5s, height 5s; // out transition

    /*possible solution for flickering problems*/
    // 1.
    // transform-style: preserve-3d;
    // 2.
    // backface-visibility: hidden;

    &:first-child {
      background: linear-gradient(10deg, #3c3c3c 60%, #d5d7d6 61%);
    }
    &:nth-child(2) {
      background: linear-gradient(10deg, #3c3c3c 43%, #d5d7d6 44%);
    }
    &:nth-child(4) {
      &:hover {
        animation: rotater 1s ease-out normal;
        transition: width 0.6s, height 0.6s; // inner direction
        width: 95px;
        height: 95px;
      }
    }
  }
}

@keyframes rotater {
  0% {
    transform: rotate(0) scale(1);
  }
  50% {
    transform: rotate(160deg) scale(0.95);
  }
  100% {
    transform: rotate(180deg) scale(1);
  }
}

@keyframes fade-me-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Segoe UI Web Fonts · GitHub

@font-face {
  font-family: SegoeUI;
  src: local('Segoe UI Light'),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2)
      format('woff2'),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff)
      format('woff'),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf)
      format('truetype');
  font-weight: 100;
}
