.card {
  display: inline-block;
  position: relative;
  font-size: 12px;
  min-height: 8rem;
  min-width: 8rem;
  border-radius: 0.3rem;
  border: 0.2rem solid transparent;
  text-align: right;
  cursor: pointer;
  transition: opacity ease-in 200ms 200ms;
  margin: 0.04rem 0.2rem;
  padding: 0.2rem;
}

.card:hover {
  opacity: 0.5;
  transition: opacity ease-in;
  transition-delay: 200ms;
  transition-duration: 200ms;
}

.card p {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 1rem;
  font-weight: 600;
  opacity: 0.5;
}

.hide {
  opacity: 0.1;
  color: red !important;
  /* transition: opacity ease-in 200ms; */
}

.selected {
  border-color: crimson;
  border-width: .2rem;
}